[defaults]
inventory = inventory.yml
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
fact_caching_timeout = 0
# interpreter_python = /home/ubuntu/ansible/ubuntuOS/.venv/bin/python3.10

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False