{# {{ ansible_managed }} #}
{% set config = docker_daemon_config | default({}) | combine({"data-root": docker_data_path}) %}
{% if docker_insecure_registries | default([]) | length > 0 %}
{%   set _ = config.update({"insecure-registries": docker_insecure_registries}) %}
{% endif %}
{% if docker_registry_mirrors | default([]) | length > 0 %}
{%   set _ = config.update({"registry-mirrors": docker_registry_mirrors}) %}
{% endif %}
{{ config | to_nice_json }}