network:
  version: 2
  renderer: networkd
  ethernets:
    {{ static_interface }}:
      dhcp4: false
      addresses:
        - {{ static_ip }}
      routes:
        - to: default
          via: {{ static_gateway }}
      nameservers:
        addresses:
{% for dns in static_dns_servers %}
          - {{ dns }}
{% endfor %}
        search:
          - {{ static_dns_search }}